@tailwind base;
@tailwind components;
@tailwind utilities;

/* Beleren Bold */
@font-face {
  font-family: "Beleren Bold";
  src:url("../fonts/BELEREN-BOLD.eot");
  src:url("../fonts/BELEREN-BOLD.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BELEREN-BOLD.woff") format("woff")
}

@media print {
  .print-small .item:nth-of-type(128n) {
    page-break-after: always;
  }
  .print-large .item:nth-of-type(36n) {
    page-break-after: always;
  }
  body {
    background-color: white !important;
  }
}
